[all_servers]
{{ instance_ip0 }}
{{ instance_ip1 }}
{{ instance_ip2 }}

[masternode]
{{ instance_ip0 }}

[subnode1]
{{ instance_ip1 }}

[subnode2]
{{ instance_ip2 }}

[all:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=./Group58.pem
